*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0a0a0a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    background: transparent;
    background-color: #111;
}

.logo img {
    width: 70px;
}

.navbar-items{
    display: flex;
    gap: 40px;
    margin-right: 10px;
}

.navbar-items a {
    text-decoration: none;
    color: white;
    font-family: monospace;
    font-size: 16px;
    transition: 0.3s;
}

.navbar-items a:hover {
    color: #3c3b3b;
}

.contactme-box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: monospace;
    font-size: 20px;
    flex-grow: 1;
}

.details {
    border: 2px solid white;
    border-radius: 5%;

    padding: 10px 10px;
    align-items: center;
}
.head h2{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    padding: 20px;
    color: white;
}
.footer h3 {
    font-family: monospace;
    font-size: 15px;
}

